node_modules/
.cache/
public
gatsby-config.js
gatsby-config.ts
gatsby-node.js
gatsby-node.ts
package.json
tsconfig.json
yarn.lock
src/components/aside.component.tsx
src/components/blog-item.component.tsx
src/components/calendar.component.tsx
src/components/carousel.component.tsx
src/components/footer.component.tsx
src/components/layout.component.tsx
src/components/navbar.component.tsx
src/interfaces/index.js
src/interfaces/index.ts
src/pages/about.tsx
src/pages/ai.tsx
src/pages/gaming.tsx
src/pages/index.tsx
src/pages/movies.tsx
src/styles/_mixins.scss
src/styles/_normalize.scss
src/styles/theme/components/_blog-item.scss
src/styles/theme/pages/_posts-page.scss
src/styles/_variables.scss
src/styles/theme/theme.scss
src/styles/theme/components/_aside.scss
src/styles/theme/components/_footer.scss
src/styles/theme/components/_navbar.scss
src/styles/theme/pages/_about.scss
src/styles/theme/templates/_author.scss
src/styles/theme/templates/_blog-post.scss
src/styles/_fonts.scss
src/styles/_global.scss
src/components/calendar.compoent.tsx
src/components/layout-with-aside.component.tsx
src/components/layout-without-aside.component.tsx
src/components/wheather-widget.component.tsx
src/context/index.tsx
src/images/about-image.png
src/images/cards-bg.jpg
src/images/case-icon.png
src/images/hands-icon.png
src/images/hero-bg.jpg
src/images/hero-item.png
src/images/intro-image.png
src/images/ux-ui-icon.png
src/pages/404.tsx
src/pages/all.tsx
src/styles/theme/components/_calendar.scss
src/styles/theme/components/_wheather-widget.scss
src/styles/theme/pages/_404.scss
