


.aside{
    padding:30px;
    width: 30%;
    min-height: 100vh;
    border-left:1px solid lightgrey;
    &__title{
        margin-top: -20px;
        text-align: center;
        font-size: pxToRem(30);
    }
   
  
}