


.aside{
    padding:$p-md-l;
    width: 30%;
    min-height: 100vh;
    border-left:1px solid light $grey;
    @include breakpoint-down(medium){
        border-left:0px solid light $grey;
        margin-top:$m-l;
        width: 100%;
        padding:0px;
        border:0px;
    }
    &__title{
        margin-top: -$m-sm-md;
        text-align: center;
        font-size: pxToRem($f-size-md);
    }
    
    &__inner-wrapper{
        @include breakpoint-down(medium){
            @include createFlex(row,center,center,null)
        }    
        @include breakpoint-down(small){
            @include createFlex(column,center,center,null)
        }    
    }
}