


.aside{
    padding:30px;
    width: 30%;
    min-height: 100vh;
    border-left:1px solid lightgrey;
    &__title{
        margin-top: -20px;
        text-align: center;
        font-size: pxToRem(30);
    }
    .calendar{
        height:260px;
        width: 330px;
        position: relative;
        top:0px;
        left:0px;
        padding:20px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px lightgrey;
        background-color: $cornflower-blue;
        color:white;
        &__header{
            margin:0px 0px 30px;
            @include createFlex(row,space-between,center,null);
            font-weight: $f-bold;
        }
        &__month-picker{
            cursor: pointer;
        }
        &__year-picker{
            span{
                margin: 0px 10px;
                &:hover{
                    svg{
                        cursor: pointer;
                        transform:scale(1.2);
                        transition:all 0.2s ease-in-out;
                    }
                }
            }
        }
        &__week-day,&__days{
            margin:10px 0px;
            @include createFlex(row,flex-start,center,wrap);
            div{
                width: calc(100% / 7);
            }
        }
        &__days{
            div{
                cursor: pointer;
                text-align: center;
                padding:10px 0px;
            }
            .calendar__day-hover:hover{
                background-color: grey;
            }
            .curr-date{
                background-color:blue;
            }
        }
        &__month-list{
            height:260px;
            width: 330px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top:0px;
            left:0px;
            width: 100%;
            height:100%;
            @include createFlex(row,center,center,wrap);
            background-color: $cornflower-blue;
            border-radius: 10px;
            transition:all 0.3s ease-in-out;
            &.--show{
                opacity:1;
                visibility:visible;
            }
            div{
                cursor: pointer;
                padding:25px 0px;
                width: 30%;
                text-align: center;
                border-radius: 10px;
                &:hover{
                    background-color: blue;
                }
            }
        }
       
    }
  
}