.footer{
    margin-top: $m-v-l;
    padding:$p-sm-md 0px;
    background-color: $cornflower-blue;
    color:white;
    @include createFlex(row,space-between, center, wrap);
    &__col-1{
        margin-left: 125px;
        @include breakpoint-down(small){
            margin-left: $m-l;
        }
    }
    h2,p{
        margin:$m-v-sm 0px;
    }
    h2{
        font-family: $nav-font;
        font-size: pxToRem($f-size-md);
    }
    &__cols{
        @include createFlex(row,flex-start, flex-start, null);
        margin-right: 120px;
        @include breakpoint-down(small){
            margin-right:0px;
            @include createFlex(column,center,center, wrap);
        }
    }
    &__col-2{
        margin-right:$m-l;
        a{
            margin:$m-v-sm 0px;
            min-width: fit-content;
            display: block;
            color:$white;
            &:hover{
                text-decoration:underline;
            }
        }
        @include breakpoint-down(small){
            order:2;
            margin-right: 0px;
            position: relative;
            left:35px;
            top:0px;
            a{
                display: inline;
                margin-right:$m-sm;
            }
        }
    }
    &__col-3{
        @include breakpoint-down(small){
            order:1;
            margin-left:$m-l;
        }
    }
    &__field{
        margin:$m-sm-md 0px $m-sm;
        padding:$p-sm $p-sm-md;
        background-color: white;
        border-radius: 25px;
        svg{
            color:$cornflower-blue;
            fill:$cornflower-blue;
        }
        input{
            padding-left: $p-v-sm;
            border:0px;
            background: transparent;
            &:focus,&:active{
                border:0px;
                outline:none;
            }
        }
    }
    button{
        position:relative;
        top:0px;
        left:0px;
        cursor: pointer;
        width: 270px;
        padding:12px $p-sm-md;
        display: block;
        background:linear-gradient(45deg,$yellowgreen,$skyblue);
        border:0px;
        border-radius: 25px;
        font-weight: bold;
        color:$white;
        &:before{
            content:'Contact With Us';
            position:absolute;
            top:0px;
            left:0px;
            width: 100%;
            height:100%;
            opacity:0;
            border-radius: 25px;
            background:linear-gradient(45deg,$skyblue,$yellowgreen);
            transition:all 0.5s ease-in-out;
            @include createFlex(row,center,center,null);
        }
        &:hover{
            &:before{
               opacity:1;
            }
        }
        &:active,&:focus{
            border:0px;
            outline:none;
        }
    }
}