/*------------------------COLORS-----------------------------*/

$cornflower-blue:#2b2d32;
$seashellsolid:#f1f1f1;

/*------------------------FONTS------------------------------*/

$nav-font:'Righteous', cursive;;
$blog-font:'Poppins', sans-serif;

/*------------------------FONT-WEIGHTS------------------------*/

$f-reg:400;
$f-bold:800;
