.not-found{
    position: relative;
    top:0px;
    left:0px;
    width: $s-100-p;
    height:$s-100-p;
    @include createFlex(column,center,center,null);
    &__content{
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50% -50%);
    }
    h1,p{
        margin:$m-sm 0px;
        text-align: center;
    }
    h1{
        color:red;
        font-family:$nav-font;
        font-size: pxToRem($f-size-l);
    }
    p{
        font-size: pxToRem(20)
    }
    a{
        font-weight: $f-bold;
        display: block;
        text-align: center;
        margin-top: $m-sm;
        padding:$p-sm $p-sm-md;
        background-color: $yellowgreen;
        color:$white;
        &:hover{
            opacity:0.7;
        }
    }
}