.title{
    margin:$m-v-l 0px;
    font-family: $nav-font;
    font-size: pxToRem($f-size-l);
    text-align: center;
    @include breakpoint-down(medium-sm){
        margin:$m-md-l 0px;
        font-size: pxToRem(35);
    }
}
.purple{
    color:$purple;
}
.about-page{
    &__hero{
        position: relative;
        top:0px;
        left:0px;
        width: 100vw;
        height:100vh;
        overflow: hidden;
        @include breakpoint-down(medium-sm){
            min-width: 200vw;
            height:80vh;
        }
        @include breakpoint-down(medium-sm){
            min-width: 200vw;
            height:40vh;
        }
        @include breakpoint-down(small){
            min-width: 200vw;
            height:80vh;
        }
    }
    &__hero-text{
        position:absolute;
        z-index: 2;
        top:180px;
        left:100px;
        @include breakpoint-down(medium-sm){
            top:90px;
            left:50%;
            transform: translateX(-95%);
        }
        color:white;
        h1,h2,p{
            margin:$m-v-sm 0px;
        }
        h1{
            font-family: $nav-font;
            font-size: pxToRem($f-size-u);
        }
        h2{
            font-family: $blog-font;
        }
        p{
            width: 60%;
        }
    }
    &__hero-item{
        position:absolute;
        z-index: 2;
        top:120px;
        right:90px;
        width: 500px;
        height:500px;
        @include breakpoint-down(medium){
            display: none;
        }
       
    }
    &__feature{
        &-content{
            @include createFlex(row,center,center,null);
            @include breakpoint-down(medium-sm){
                @include createFlex(column,center,center,null);
            }
            h2,p{
                
                margin:$m-md-l 0px;
                width: 60%;
                @include breakpoint-down(medium-sm){
                    width: $s-100-p;
                }
            }
            p{
                font-size: pxToRem($f-sm-sm-md);
                text-align: center;
            }
        }
    
    }
    &__feature-img{
        width: $s-50-p;
        @include breakpoint-down(medium-sm){
            width: $s-100-p;
        }
    }
    &__feature-text{
        position: relative;
        left:50px;
        top:0px;
        width: 50%;
        @include breakpoint-down(medium-sm){
            width: $s-100-p;
            left:0px;
        }
    }

    &__card-group-wrapper{
        padding:$p-l 0px $p-v-l;
        position: relative;
        top:0px;
        left:0px;
    }
    &__card-group-bg{
        position: absolute;
        top:0px;
        left:0px;
        z-index: -1;
        width: $s-100-p;
        max-height:$s-100-p;
        overflow:hidden;
        @include breakpoint-down(medium-sm){
            min-width:280vw;
        }
    }
    &__card-group{
        position: relative;
        z-index: 3;
        top:0px;
        left:0px;
        width: 80%;
        margin:0px auto;
        @include createFlex(row,center,flex-start,null);
        @include breakpoint-down(medium-sm){
             @include createFlex(column,center,center,null);
             width: $s-100-p;
        }

    }
    &__card{
        cursor: pointer;
        box-sizing: border-box;
        padding:$p-md-l 0px;
        height:330px;
        margin:0px $m-sm-md;
        box-shadow: 0px 0px 80px rgba(0,0,0,0.15);
        background-color: white;
        border-radius: 10px;
        width: 28%;
        transition:all 0.5s ease-in-out;
        @include breakpoint-down(medium-sm){
            width: 60%;
            margin:$m-sm-md $m-sm;
        }
        @include breakpoint-down(small){
            width: 90%;
            margin:$m-sm-md $m-sm;
        }
        &:hover{
            box-shadow: 0px 0px 40px rgba(0,0,0,0.55);
        }
        h3{
            font-family: $nav-font;
            font-size: pxToRem($f-size-md);
            text-align: center;
        }
        p{
            margin:0px auto;
            text-align: center;
            width: 70%;
        }
    }
    &__icon{
        margin:0px auto;
        width: $s-100;
        height:$s-100;
    }
    &__about-us{
        & > .title{
            margin:$m-v-l 0px $m-l;
            @include breakpoint-down(medium-sm){
                margin:$m-md-l 0px;
            }
        }
    }
    &__about-us-content{
            @include createFlex(row,center,center,null);
            @include breakpoint-down(medium-sm){
                @include createFlex(column,center,center,null);
            }
        }
       
    &__about-us-text{
            width: $s-50-p;
            text-align: center;
            @include breakpoint-down(medium-sm){
                order:2;
                width:$s-100-p;
            }
            h2,p{   
                margin:$m-md-l 0px;
                margin-left: auto;
                margin-right: $m-v-l;
                width: 60%;
                @include breakpoint-down(medium-sm){
                    min-width: $s-100-p;
                }
            }
            p{
                font-size: pxToRem($f-sm-sm-md);
            }
        }
    &__about-us-img{
            width:$s-50-p;
            @include breakpoint-down(medium-sm){
                margin:$m-md-l 0px;
                width: $s-100-p;
                order:1;
            }
        }
}