.title{
    margin:100px 0px;
    font-family: $nav-font;
    font-size: pxToRem(40);
    text-align: center;
    @include breakpoint-down(medium-sm){
        margin:30px 0px;
        font-size: pxToRem(35);
    }
}
.purple{
    color:purple;
}
.about-page{
    &__hero{
        position: relative;
        top:0px;
        left:0px;
        width: 100vw;
        height:100vh;
        overflow: hidden;
        @include breakpoint-down(medium-sm){
            min-width: 200vw;
            height:80vh;
        }
        @include breakpoint-down(medium-sm){
            min-width: 200vw;
            height:40vh;
        }
        @include breakpoint-down(small){
            min-width: 200vw;
            height:80vh;
        }
    }
    &__hero-text{
        position:absolute;
        z-index: 2;
        top:180px;
        left:100px;
        @include breakpoint-down(medium-sm){
            top:90px;
            left:50%;
            transform: translateX(-95%);
        }
        color:white;
        h1,h2,p{
            margin:5px 0px;
        }
        h1{
            font-family: $nav-font;
            font-size: pxToRem(80);
        }
        h2{
            font-family: $blog-font;
        }
        p{
            width: 60%;
        }
    }
    &__hero-item{
        position:absolute;
        z-index: 2;
        top:120px;
        right:90px;
        width: 500px;
        height:500px;
        @include breakpoint-down(medium){
            display: none;
        }
       
    }
    &__feature{
        &-content{
            @include createFlex(row,center,center,null);
            @include breakpoint-down(medium-sm){
                @include createFlex(column,center,center,null);
            }
            h2,p{
                
                margin:30px 0px;
                width: 60%;
                @include breakpoint-down(medium-sm){
                    width: 100%;
                }
            }
            p{
                font-size: pxToRem(18);
                text-align: center;
            }
        }
    
    }
    &__feature-img{
        width: 50%;
        @include breakpoint-down(medium-sm){
            width: 100%;
        }
    }
    &__feature-text{
        position: relative;
        left:50px;
        top:0px;
        width: 50%;
        @include breakpoint-down(medium-sm){
            width: 100%;
            left:0px;
        }
    }

    &__card-group-wrapper{
        padding:50px 0px 100px;
        position: relative;
        top:0px;
        left:0px;
    }
    &__card-group-bg{
        position: absolute;
        top:0px;
        left:0px;
        z-index: -1;
        width: 100%;
        max-height:100%;
        overflow:hidden;
        @include breakpoint-down(medium-sm){
            min-width:280vw;
        }
    }
    &__card-group{
        position: relative;
        z-index: 3;
        top:0px;
        left:0px;
        width: 80%;
        margin:0px auto;
        @include createFlex(row,center,flex-start,null);
        @include breakpoint-down(medium-sm){
             @include createFlex(column,center,center,null);
             width: 100%;
        }

    }
    &__card{
        cursor: pointer;
        box-sizing: border-box;
        padding:30px 0px;
        height:330px;
        margin:0px 20px;
        box-shadow: 0px 0px 80px rgba(0,0,0,0.15);
        background-color: white;
        border-radius: 10px;
        width: 28%;
        transition:all 0.5s ease-in-out;
        @include breakpoint-down(medium-sm){
            width: 60%;
            margin:20px 10px;
        }
        @include breakpoint-down(small){
            width: 90%;
            margin:20px 10px;
        }
        &:hover{
            box-shadow: 0px 0px 40px rgba(0,0,0,0.55);
        }
        h3{
            font-family: $nav-font;
            font-size: pxToRem(30);
            text-align: center;
        }
        p{
            margin:0px auto;
            text-align: center;
            width: 70%;
        }
    }
    &__icon{
        margin:0px auto;
        width: 100px;
        height:100px;
    }
    &__about-us{
        & > .title{
            margin:100px 0px 50px;
            @include breakpoint-down(medium-sm){
                margin:30px 0px;
            }
        }
    }
    &__about-us-content{
            @include createFlex(row,center,center,null);
            @include breakpoint-down(medium-sm){
                @include createFlex(column,center,center,null);
            }
        }
       
    &__about-us-text{
            width: 50%;
            text-align: center;
            @include breakpoint-down(medium-sm){
                order:2;
                width: 100%;
            }
            h2,p{   
                margin:30px 0px;
                margin-left: auto;
                margin-right: 100px;
                width: 60%;
                @include breakpoint-down(medium-sm){
                    min-width: 100%;
                }
            }
            p{
                font-size: pxToRem(18);
            }
        }
    &__about-us-img{
            width: 50%;
            @include breakpoint-down(medium-sm){
                margin:30px 0px;
                width: 100%;
                order:1;
            }
        }
}