.author-template{
    @include breakpoint-down(medium){
        position: relative;
        left:-10px;
        top:0px;

    }
    &__info-wrapper{
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(medium){
         
            @include createFlex(column,flex-start,center,null);
        }
    }
  
    &__info{
        margin-left:$m-sm-md;
        @include breakpoint-down(medium){
            width: $s-100-p;
            margin-left:$m-sm;

        }
        svg{
            min-width: 20px;
            margin-right: $m-sm-md
        }
    }
    h1,h3,p{
        @include createFlex(row,flex-start,center,null);
    }
}