.blog-post{
    @include breakpoint-down(medium){
        position: relative;
        left:0%;
        top:0px;
    }
    h1,h3,p{
        margin:$m-v-sm 0px;
    }
    &__date{
        margin-bottom: 40px !important;
    }
   &__main-content{
       h3{
           margin-bottom:$m-sm-md;
       }
       p{
           margin:$m-sm-md 0px;
       }
   }
   &__image{
       width:96.5%;       
       @include breakpoint-down(medium){
           width: $s-100-p;
       }
   }
    &__text{
        padding-top:$p-md-l;
        padding-right: 35px;
        padding-bottom:$p-sm-md;
        @include breakpoint-down(medium){
            padding:0px;
        }
    }   
    &__author{
        @include createFlex(row,flex-start,center,null);
    }
    &__author-image{
        overflow:hidden;
        width: $s-100;
        height:$s-100;
        border-radius: 100%;
        img{
            width:$s-100-p;
        }
    }
    &__author-info{
        margin-left: $m-sm;
      
        h3,h5,p{
            margin:$m-v-sm 0px;
        }
        p{
            color:$grey;
        }
    }
}